body{
  background-image: url(https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y29kaW5nfGVufDB8fDB8fA%3D%3D&w=1000&q=80);
  background-size:cover;
}
.flex-container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

header{
  padding:40px;
  text-align: center;
  text-shadow: 2px 2px 4px black;
}

header h1{
  color: white;
  font-size: 3em;
  font-weight: 100;
}

nav{
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
}

nav a {
  margin-right: 10px;
  color: white;
  text-decoration: none;
}

.hero-section img{
  display: flex;
  align-content: center;
}

nav a:hover{
  color: aqua;
  text-decoration: underline;
}

main h3{
  color: whitesmoke;
  font-size: 2em;
  margin-left: 10%;
}

.main-container{
  border: 5px white;
  background: none;
}

@media screen and (max-width: 992px){
  nav a{
    align-content: space-between;
  }
  
}