/* universal styling */
* {
  box-sizing: border-box;
}
/* header margin resets */
h1,
h2,
h3 {
  margin: 0;
}
/* Body styling and background */
body {
  background: linear-gradient(90deg, black 25%, white 25%);
  margin: 0;
  padding: 0;
}
/* Header styling */
header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  text-align: center;
  text-shadow: 2px 2px 4px black;
  background-color: rgb(178, 195, 195);
  box-shadow: 0 5px 35px red;
}
/* Header: Name Styling and formatting */
header h1 {
  color: azure;
  font-size: 4em;
  line-height: 1;
  font-weight: 100;
  background: linear-gradient(270deg, black, black, grey, white);
  margin: 0;
  padding: 5px 1% 5px 6%;
}
/* Navigation Flex preperation */
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* Navigation Formatting and styling */
nav a {
  margin-right: 10px;
  color: black;
  text-decoration: none;
  transition: all 0.25s ease-in;
  font-size: 1.4rem;
  padding: 5px;
}
/* Navigation Hover Functionality */
nav a:hover {
  color: red;
  text-decoration: underline;
  background-size: 100% 100%;
}
/* Profile-Image of me formatting */
.profile-image {
  display: block;
  margin: 20px auto;
  width: 50%;
  max-height: 25%;
  max-width: 25%;
}

/* Margins for the main area of the portfolio */

main {
  margin: 20px auto 45px auto;
  max-width: 85%;
}

/* Margins and flexing of each of the main section areas */

.section-areas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin: 5% 0;
  padding: 10px 0;
  border: 5px white;
  background: none;
}

/* Section Header tags text formatting  */

.section-areas h2 {
  
  color: white;
  flex: 0 0 20%;
  text-align: right;
  padding-right: 15px;
  font-size: 4vw;
  line-height: 1.1;
}

.section-areas p a {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 1.3vw;
}

.section-areas p a:hover {
  color: red;
}

/* About-Me flexbox position and margin */

.section-areas > div {
  flex: 0 0 75%;
}

/* About-Me text margins and font styling */

.section-areas p {
  margin-bottom: 20px;
  line-height: 1.5;
  font-size: 1vw;
}

/* Projects/Homework Box Creation */

.box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Projects Box styling and padding */

.box-items {
  border: 5px solid red;
  background-color: aqua;
  color: brown;
  min-height: 150px;
  max-height: 150px;
  flex-basis: calc(50% - 1em);
  display: flex;
  align-items: flex-end;
  margin: 0.5em;
  text-decoration: none;
  background-blend-mode: soft-light;
  background-size: 150%;
  transition: all 0.5s;
  font-size: 0.9rem;
}

/* Horiseon independent box styling */

.box-items:first-child {
  min-height: 400px;
  flex-basis: 100%;
}

/* Hover modifier to indicate that you are moused over a project */

.box-items:hover {
  opacity: 0.6;
}

/* Project title background color and padding */

.box-items div {
  
  padding: 8px 10px;
}

/* Project Header Size */

.box-items h3 {
  font-size: 1.6rem;
}

/* Horiseon Background image link and styling */

.horiseon {
  background: left;
  background-image: url("../images/Horiseon-Landing-Page.jpg");
  background-size: cover;
}

.watchNext{
  background:top;
  background-image: url("../images/watchNext-movie.PNG");
  background-size:cover;
}

.codeQuiz {
  background:top;
  background-image: url("../images/question-screen-code-quiz.PNG");
  background-size:cover;
}

.randomGenerator {
  background:top;
  background-image: url("../images/password-generator.PNG");
  background-size:75%;
}

/* Contact-me box creation */

.contact-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0.5em;
  text-decoration: none;
  transition: all 0.5s;
}

/* Contact-me font and margin styling */

.contact-container a {
  text-decoration: none;
  font-size: 2vw;
  background-blend-mode: soft-light;
  transition: all 0.5s;
  background-color: white;
  margin: 0px 10px;
  padding-right: 16px;
  border-right: 2px solid black;
}

/* Contact-me removal of last child's border right to make look nicer */

.contact-container a:last-child {
  border: none;
}

/* Contact-me Hover modifier to style selecitons */

.contact-container a:hover {
  color: red;
  text-decoration: underline;
}

/* Footer Tag for future design and perhaps more navigation options to go back up to the screen */

footer {
  display: flex;
  align-content: flex-end;
  background: blue;
  background-color: blue;
  max-height: 3vw;
  min-height: 3vw;
}

/* Media screen that allows for better formatting in mobile formats */

@media screen and (max-width: 600px) {
  /* Mobile Format Header movement to center */

  header {
    display: flex;
    justify-content: center;
  }

  /* Mobile Format Navigation movement to center and column */

  nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  /* Mobile Format forcing all background to be white to eliminate linear gradient in desktop format */

  body {
    background: white;
  }

  /* Mobile Format better font-size smaller screen */

  .section-areas p {
    font-size: 10px;
  }

  .section-areas p a {
    color: black;
    font-size: 10px;
  }

  /* Mobile Format H2 and sections are ordered in columns to make better use of screen while sustaining readability */

  .section-areas {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* Mobile Format Changing section header tags to be more thematically correct for mobile format */

  .section-areas h2 {
    color: black;
    display: flex;
    justify-content: center;
    border-right: none;
    border-bottom: 3px solid black;
    margin: 10px 0;
  }

  /* Mobile Format changing the project boxes to align in column so avoid them getting too small */

  .box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Mobile Format changing the box-sizing to fill more of the screen and ignore original sizing */

  .box-items {
    display: flex;
    align-content: stretch;
    min-width: 95%;
    max-width: 95%;
  }

  /* Mobile Format change the project titles to use less screen space */

  .box-items div {
    background-color: aquamarine;
    padding: 8px 10px;
  }

  /* Mobile Format change project header titles to use appropriate font-size */

  .box-items h3 {
    font-size: 1rem;
  }

  /* Mobile Format change in spacing of each of the contact-me items */

  .contact-container {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  /* Mobile Format change in text-sizing for contact items */

  .contact-container a {
    font-size: 16px;
    padding: 2px;
    border: none;
    display: flex;
    justify-content: center;
  }
}
